
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/* .content-width {
    width: 50%;
}
.content-width img {
    width: 70%;
} */

.head-section {
    display: flex;
    background: url('../images/header-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* padding: 40px 5%; */
}

.heading-special {
    color: gold;
}
h3 {
    color: rgb(221, 185, 117);
}

.font-color {
    color: #fff;
}
.link-button a {
    color:#fff;
    background-image: linear-gradient(orange, blue);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5%;   
}
.about-section {
    display: flex;    
}

.field-border {
    margin: 0 5px;
    padding: 20px;
    border-radius: 20px;
    border: 2px blueviolet dotted;
}


.shadowBg {
    /* border-radius: 10px; */
    min-width: 300px;
    min-height: 300px;
    box-shadow: 10px 10px 50px white;
}


.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.social-link a {
    text-decoration: none;
    color: #fff;
    margin:0 10px;
}
.social-link a:hover .bi-facebook {
    color: #097DEB;
}
.social-link a:hover .bi-instagram {
    color: #D14783;
}
.social-link a:hover .bi-twitter {
    color: #5DA9DD;
}
.social-link a:hover .bi-youtube {
    color: #FE0000;
}
.social-link a:hover .bi-linkedin {
    color: #0A66C2;
}
.contact_con_gly img{
    width: 100px;
    height: 100px;
}
/* Contact Part End */

/* Footer Part Start */
.footer_part {
    padding: 15px 0;
    background: #000;
    border-top: 1px solid #fff;
}
p {
    margin: 0;
}
.footer_con p {
    color: #fff;
}
.footer_con p a {
    text-decoration: none;
    color: #FE0000;
    font-weight: bold;
}